.garden {
    --color-grass: green;
    background-color: var(--color-grass);
    width: 1600px;
    height: 5px;
    display: flex;
}

.grams {
    width: 800px;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
    animation: var(--grass-velocity);
}

.grass {
    width: 20px;
    height: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -4px;
}

.grass>div {
    background-color: var(--color-grass);
    width: 2px;
    height: 5px;
    border-radius: 20px;
}

.grass>div:nth-child(1) {
    transform: rotate(-20deg);
}

.grass>div:nth-child(3) {
    transform: rotate(20deg);
}

.tree1,
.tree2,
.tree3 {
    width: 40px;
    height: 50px;
    margin-top: -50px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.tree2 {
    height: 60px;
    margin-top: -60px;
}

.tree3 {
    height: 60px;
    margin-top: -60px;
}

.tree1 .leaf,
.tree2 .leaf {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 35px 15px;
    border-color: transparent transparent green transparent;
}

.tree3 .leaf {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, green 0%, green 50%, #046604 50%, #046604 100%);
    border-radius: 50px 50px 10px 10px / 150px 150px 20px 20px;
}

.tree2 .leaf:nth-child(1) {
    border-width: 0 0 25px 15px;
}

.tree2 .leaf:nth-child(2) {
    margin-top: -25px;
}

.tree2 .leaf:nth-child(3) {
    margin-top: -25px;
}

.tree2 .leaf:nth-child(1)::after {
    border-width: 25px 0 0 15px;
}

.tree1 .leaf::after,
.tree2 .leaf::after {
    content: '';
    display: flex;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 0 0 15px;
    border-color: transparent transparent transparent #046604;
}

.tree1 .trunk,
.tree2 .trunk,
.tree3 .trunk {
    height: 13px;
    width: 5px;
    background: #744905;
    align-self: center;
}