.main-landscape {
    background: #91e0ff;
    width: 1600px;
    height: 100%;
    display: flex;
}

.landscape {
    position: relative;
    width: 800px;
    height: 330px;
    animation: var(--landscape-velocity);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}