:root {
    --cloud-velocity: RightToLeft 100s infinite linear;
    --grass-velocity: RightToLeft 20s infinite linear;
    --landscape-velocity: RightToLeft 25s infinite linear;
    --road-velocity: RightToLeft 4s infinite linear;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container {
    width: 800px;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}