:root {
    --animation: RightToLeft 6s infinite linear;
}

.main-landscape {
    background: purple;
    width: 1600px;
    height: 100%;
    display: flex;
}

.landscape {
    position: relative;
    background: linear-gradient(90deg, rgba(9, 3, 110, 1) 0%, rgba(12, 147, 241, 1) 33%, rgba(12, 147, 241, 1) 69%, rgba(9, 3, 110, 1) 100%);
    width: 800px;
    height: 300px;
    animation: var(--animation);
}

.road {
    background-color: #2f3336;
    width: 1600px;
    height: 100%;
    display: flex;
    align-items: center;
}

.stripes {
    width: 800px;
    height: 10px;
    background: repeating-linear-gradient(to right, white, white 7%, transparent 7%, transparent 12%);
    animation: var(--animation);
}

@keyframes RightToLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}