.main-landscape {
    background: #91e0ff;
    width: 1600px;
    height: 100%;
    display: flex;
}

.sun {
    position: absolute;
    box-shadow: 0 0 10px #ffff99, 0 0 40px 4px yellow;
    background-color: yellow;
    width: 70px;
    height: 70px;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.landscape {
    position: relative;
    width: 800px;
    height: 290px;
    animation: RightToLeft 25s infinite linear;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.house {
    background-color: #83a5d0;
    width: 60px;
}

.big {
    height: 130px;
}

.small {
    height: 80px;
}

.grass {
    background-color: green;
    width: 100%;
    height: 30px;
}

.road {
    background-color: #2f3336;
    width: 1600px;
    height: 100%;
    display: flex;
    align-items: center;
    border-top: #fff 1px solid;
}

.stripes {
    width: 800px;
    height: 10px;
    background: repeating-linear-gradient(to right, white, white 7%, transparent 7%, transparent 12%);
    animation: RightToLeft 4s infinite linear;
}

@keyframes RightToLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}