.main-landscape {
    background: #91e0ff;
    width: 1600px;
    height: 100%;
    display: flex;
}

.sun {
    position: absolute;
    box-shadow: 0 0 10px #ffff99, 0 0 30px 4px yellow;
    background-color: yellow;
    width: 70px;
    height: 70px;
    margin-top: 15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.clouds {
    position: absolute;
    width: 800px;
    height: 140px;
    display: flex;
    overflow: hidden;
    margin-top: 15px;
}

.clouds .container {
    width: 2800px;
    height: 200px;
    display: flex;
}

.clouds .container .section {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    animation: RightToLeft 100s infinite linear;
}

.cloud {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.cloud .slim {
    height: 9px !important;
    margin-top: 3px;
}

.cloud>div,
.cloud .group>div {
    background: #cff7f9;
    width: var(--widthCloud);
    height: 15px;
    border-radius: 10px;
}

.cloud .group {
    display: flex;
    background: none;
}

.cloud .group div:nth-child(1) {
    margin-right: 5px;
}

.landscape {
    position: relative;
    width: 800px;
    height: 330px;
    animation: RightToLeft 25s infinite linear;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.house {
    background-color: #83a5d0;
    width: 60px;
}

.big {
    height: 130px;
}

.small {
    height: 80px;
}

.grass {
    background-color: green;
    width: 100%;
    height: 40px;
}

.road {
    background-color: #2f3336;
    width: 1600px;
    height: 100%;
    display: flex;
    align-items: center;
    border-top: #fff 1px solid;
}

.stripes {
    width: 800px;
    height: 4px;
    background: repeating-linear-gradient(to right, white, white 7%, transparent 7%, transparent 12%);
    animation: RightToLeft 4s infinite linear;
}

@keyframes RightToLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}