@keyframes RightToLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.sun {
    position: absolute;
    box-shadow: 0 0 10px #ffff99, 0 0 30px 4px yellow;
    background-color: yellow;
    width: 70px;
    height: 70px;
    margin-top: 15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}